apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: neurosleep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: nadiyahshofasalsabila/neurosleep-frontend:IMAGE_TAG
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 200m
