name: CI Neurosleep

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend
      run: |
        docker build \
          -f Dockerfile.backend \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/neurosleep-backend:${{ github.sha }} \
          backend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/neurosleep-backend:${{ github.sha }}

    - name: Build & Push Frontend
      run: |
        docker build \
          -f Dockerfile.frontend \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/neurosleep-frontend:${{ github.sha }} \
          frontend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/neurosleep-frontend:${{ github.sha }}

    - name: Update K8s Image Tag
      run: |
        sed -i "s|image: .*neurosleep-backend.*|image: ${{ secrets.DOCKER_USERNAME }}/neurosleep-backend:${{ github.sha }}|" k8s/backend/backend-deployment.yaml
        sed -i "s|image: .*neurosleep-frontend.*|image: ${{ secrets.DOCKER_USERNAME }}/neurosleep-frontend:${{ github.sha }}|" k8s/frontend/frontend-deployment.yaml

    - name: Commit & Push
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add k8s/
        git commit -m "update image to ${{ github.sha }}"
        git push
